---
import Social from "./Social.astro"
const platform = "github"
const username = "withastro"
---

<footer class="mt-10">
      <p>Follow me on my social media:</p>
      <Social platform="twitter" username="hendriam" />
      <Social platform="github" username="hendriam" />
      <Social platform="instagram" username="hendriam" />
</footer>
